body {
    background-color: rgb(255, 255, 255);
    color: rgb(110, 110, 110);
    width: 80%;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: sans-serif;
    border: solid 1px rgb(225, 225, 225);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(220, 220, 220);
}

hr {
    width: 80%;
    opacity: 25%;
}

a {
    color: rgb(100, 180, 255);
}

.title {
    text-align: center;
}

.main-div {
    width: 100%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

#search_key {
    width: 50%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border: solid 2px rgb(225, 225, 225);
    border-radius: 5px;
    outline-color: rgb(100, 180, 255);
}

#filter_packages {
    width: 80px;
    border: solid 1px rgb(225, 225, 225);
    border-radius: 5px;
    border-bottom: solid 3px rgb(225, 225, 225);
    outline: none;
}

.btn {
    /* width: 200px; */
    margin: 10px 5px 10px 5px;

    background-color: rgb(100, 180, 255);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 300ms;
}

.btn:hover {
    box-shadow: 0px 0px 10px rgb(100, 180, 255);
    transform: translateY(5px);
}

.note-div {
    margin: auto;
    border: solid 1px rgb(225, 225, 225);
    border-radius: 5px;
    padding: 10px;
}

#content_area {
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px;
    padding: 10px;
    min-height: 180px;
}

.game-item {
    margin-bottom: 15px;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.credit-div {
    width: 100%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border: solid 1px rgb(225, 225, 225);
    border-radius: 5px;
}

.credit-div-inner {
    padding: 10px;
}

.copyright {
    text-align: center;
}